*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit; 
}
html{
    width: 100%;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
html::-webkit-scrollbar {
  display: none;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
html, body, textarea, input, a, p, pre, div, span, h5, h4, h3, h2, h1, ul, li {
    font-family: Pretendard, "Apple SD Gothic Neo", "맑은 고딕", 맑은고딕, "Malgun Gothic", sans-serif;
    color: #333;
    word-break: keep-all;
    white-space: normal;
}
h1{
    font-size: 4vw;
}
h2{
    font-size: 3.5vw;
}
h3{
    font-size: 2vw;
}
h4{
    font-size: 1.5vw;
}
h5{
    font-size: 1.3vw;
}
p{
    font-size: 1vw;
}
ul {
    list-style: none; /* 목록 기호 없애기 */
}

/*버튼 공통*/
button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 0.5vw 1.4vw;
    font-size: 1vw;
    border-radius: 0.5vw;
    box-shadow: 0 0 0.4vw rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.6s ease;
    cursor: pointer;
}
button:hover{
    box-shadow: 0 0 0.4vw rgba(0, 0, 0, 0.30);
}
button.btn-big{
    font-weight: 200;
    font-size: 1.2vw;
    padding: 0.8vw 3vw;
}
.btn-box{
    margin-top: 4vw;
}
.btn-box-two{
    display: flex;
    gap: 1.5vw;
    align-items: center;
}
.btn-box-two a{
    color: #999;
    font-size: 1vw;
}
.btn-box-right{
    text-align: right;
}
.btn-line-gray{
    border: 1px solid #999;
    color: #999;
}
.btn-line-wite{
    border: 1px solid #fff;
    color: #fff;
}
.btn-bg-blue{
    background-color: #132C6F;
    color: #fff;
}
.btn-bg-dark{
    background-color: #0B1528;
    color: #fff;
}
.banner-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vw 10vw;
    background-color: #f8f8f8;
}
.banner-btn h4{
    margin-bottom: 1vw;
}
.banner-btn p{
    font-size: 1.5vw;
}

/*메인 이미지 공통*/
.img-main-box{
    position: relative;
    width: 100vw;
    height: 60vw;
    margin-top: 5vw;
    padding-top: 14vw;
    overflow: hidden;
}
.title{
    width: 84vw;
    margin: 0 auto;
}
.title.box-h{
    width: calc(100vw - 60vw);
}
.title h2{
    width: 60vw;
    color: #fff;
}
.title p{
    font-size: 1.3vw;
    font-weight: lighter;
    line-height: 1.5;
    color: #fff;
}
.title.brite-img h1, .title.brite-img p{
    color: #000;
}
.title-nav-box{
    display: flex;
    width: 100%;
    margin-top: 10vw;
}
.title-nav{
    flex: 1;
    border-top: 1px solid #fff;
    margin-top: 1vw;
}
.image-slider-nav{
    display: flex;
    gap: 10vw;
    width: fit-content;
    margin: -0.45vw auto 0 auto;
}
.image-slider-nav p{
    width: 8vw;
    text-align: center;
    font-weight: normal;
    padding-top: 1.5vw;
    opacity: .6;
}
.image-slider-nav p.active, .image-slider-nav p:hover{
    cursor: pointer;
    opacity: 1;
}
.slide-img-track {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
    display: flex;
    transition: transform 0.8s ease;
}

/*본문 공통*/
.content-box{
    padding: 5vw 0;
    width: 100vw;
    text-align: center;
}
.content-title-box{
    width: 45vw;
    margin: 0 auto 3vw auto;
}
.content-title-box > h3{
    margin-bottom: 1vw;
}
.content-title-box > h4{
    font-weight: 300;
}
.img-box-full{
    width: 100vw;
    background-color: #f9f9f9;
}
.img-box-full .img-box{
    width: 80vw;
    margin: 0 auto;
}
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 비율 */
  height: 0;
  overflow: hidden;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.img-box-full .text-box{
    width: 80vw;
    margin: 0 auto;
}
.img-box-full h4{
    margin-bottom: 2vw;
}
.img-box-full p{
    font-size: 0.8vw;
    line-height: 1.8;
}
.img-box-full .text-box-list{
    margin-top: 3vw;
}
.img-box-full .text-box-list > div{
    display: flex;
    align-items: center;
    gap: 1vw;
    margin: 2vw 0;
}
.img-box-full img{
    width: 5vw;
}
.img-box-full button{
    font-size: 0.8vw;
}
.img-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 4vw 0 8vw 0;
}
.img-list > div{
    text-align: center;
    align-content: center;
    width: 3vw;
    height: fit-content;
}
.img-list > div >p{
    margin-top: 1vw;
}

.nav-box{
    display: flex;
    width: 60vw;
    margin: 0 auto 2vw auto;
    text-align: left;
    gap: 1vw;
}
.nav-box nav{
    display: flex;
    justify-content: space-between;
    width: 20%;
}
.nav-box p,.nav-box h5{
    font-weight: bold;
    color: #999;
}
.nav-box nav.active p{
    color: #333;
}
.nav-box nav.active h5{
    color: #132C6F;
}
.nav-box .time-var-box{
    width: 0.2vw;
    height: 100%;
    background-color: #d9d9d9;
}
.nav-box nav.active .time-var{
    width: 100%;
    height: 100%;
    background-color: #132C6F;
    transform: scaleY(0); 
    transform-origin: bottom;
    will-change: transform;
}
.con-box{
    overflow: hidden;
    position: relative;
}
.main-slide-track {
    display: flex;
    gap: 4vw;
    transition: transform 0.6s ease;
}
.main-slide-box {
    flex: 0 0 60%;
    height: 30vw;
    margin-top: 1vw;
    padding: 2vw 3vw;
    text-align: left;
    background-color: #f9f9f9;
    border-radius: 0.7vw;
    opacity:.4;
}
.main-slide-box.active{
    margin-top: 0;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
    opacity:1;
}
.main-slide-box > h3{
    font-size: 1.5vw;
    line-height: 1.3;
    color: #132C6F;
}
.main-slide-box span{
    font-size: 5vw;
    font-weight: bold;
    color: #e9e9e9;
    margin-right: -3vw;
}
.main-slide-box > div{
    display: flex;
    align-items: center;
}
.main-slide-box .slide-img-box{
    width: 30vw;
}
.main-slide-box .img-box{
    width: 32vw;
    max-height: 26vw;
    border-radius: 0.7vw;
    overflow: hidden;
}
.slide-text{
    flex: 1;
    margin-left: 2vw;
}
.slide-text .title-sub{
    height: 5vw;
    font-size: 0.8vw;
    margin-bottom: 3vw;
}
.slide-text p:not(.title-sub){
    font-size: 1vw;
    padding-left: 2vw;
    margin-top: 1.5vw;
    background-image: url("../images/icon_alarm.png");
    background-repeat: no-repeat;
    background-position: left 50%;
    background-size: 1.2vw;
}
.slide-text .text-list{
    margin-top: 5vw;
    height: 10vw;
}
.slide-text .text-list > p{
    margin-top: 0.6vw;
    padding-left: 1vw;
    background-image: url("../images/icon_bar.png");
    background-position: left top;
    background-size: auto 1vw;
}
.slide-text h2{
    font-size: 2vw;
    font-weight: normal;
}
.slide-text .img-list{
    margin: 2vw 0;
    font-size: 1vw;
}
.slide-text .img-list div{
    height: 2vw;
}
.box-f{
    width: 80vw;
    margin: 0 auto;
}
.box-f > div{
    width: 19vw;
    height: 19vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vw;
    background-color: #f9f9f9;
    text-align: left;
    transition: box-shadow 0.2s ease;
}
.box-f > div > div{
    text-align: right;
}
.box-f img{
    width: 4vw;
}
.box-f p{
    font-size: 0.8vw;
    height: 2vw;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}
.box-f > div:hover {
    box-shadow: 0 0 0.4vw rgba(0, 0, 0, 0.1);
}
.box-f > div:hover p{
    opacity: 1;
    transform: translateY(0);
}
.clients-box{
    width: 45vw;
    margin: 0 auto;
}
.clients-box > div{
    width: fit-content;
    height: fit-content;
}
.img-list.clients-box div{
    width: 10vw;
}
.main-demo-box{
    height: 40vw;
    padding: 14vw 10vw;
    background-image: url("../images/main-demo-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.main-demo-box h3{
    font-size: 2vw;
    margin-bottom: 2vw;
}
.main-demo-box p{
    width: 31vw;
}
.main-demo-box button{
    margin-top: 8vw;
    font-size: 0.8vw;
}

/*header*/
header{
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 0 0.2vw rgba(0, 0, 0, 0.1);
}
header > section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
    width: 100%;
    padding: 1.5vw 3vw;
}
header .logo-img{
    width: 12vw;
}
header nav{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 2.5vw;
}
header nav p{
    font-size: 1.2vw;
}
.btn-lang{
    position: relative;
    border-radius: 20vw;
    border: 1px solid #132C6F;
    padding: .2vw .5vw;
    background-color: #fff;
}
.btn-lang-box{
    display: flex;
    align-items: center;
}
.btn-lang-box section {
    width: 1vw;
}
.btn-lang-box section:last-of-type{
    width: 1.5vw;
}
.btn-lang-box .select-lang{
    text-align: center;
    width: 2.5vw;
    color: #132C6F;
}
.box-lang{
    display: none;
    position: absolute;
    top: -0.1vw;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: .5vw 1.2vw;
    border-radius: 0.7vw;
    box-shadow: 0 0 0.2vw rgba(0, 0, 0, 0.1);
}
.box-lang.is-open{
    display: block;
}
.box-lang p{
    width: 4vw;
    line-height: 2;
}
.box-lang p:hover, .box-lang .select{
    font-weight: bold;
}
.btn-nav-sub{
    display: flex;
    align-items: center;
    gap: .5vw;
}
.btn-nav-sub span{
    display: inline-block;
    width: 1.5vw;
    height: 1.5vw;
    background-image: url("../images/btn_under_arrow_black.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5vw;
}
header [data-route]:hover, header [data-route].is-active{
    color: #132C6F;
    cursor:pointer;
}
.box-nav-sub {
    display: none;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    z-index: 1000;
}
.box-nav-sub.is-open {
    display: block; 
}
.sub-contain{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    background: #fff;
    padding: 4vw 6vw;
    border-radius: 0.7vw;
    box-shadow: 0 0 0.2vw rgba(0,0,0,.1);
}
.sub-contain h3{
    color: #132C6F;
}
.sub-nav{
    width: 30vw;
    margin-top: 2vw;
    padding-right: 2vw;
    background-image: url("../images/nav-right-arrow-gray.png");
    background-size: 1.5vw;
    background-repeat: no-repeat;
    background-position: right top;
}
.sub-nav h4{
    margin-bottom: 1vw;
}
.nav-img{
    width: 25vw;
    border-radius: 0.7vw;
}
.btn-demo{
    background-color: #132C6F;
    color: #fff;
    padding: 0.4vw 1.4vw;
    font-size: 1vw;
    transition: box-shadow 0.6s ease;
}
.btn-demo[data-route]:hover{
    color: #fff;
}


/*footer*/
footer{
    display: flex;
    justify-content: space-between;
    padding: 5vw 8vw 3vw 8vw;
    background-color: #0B1528;
}
footer *{
    color: #fff;
}
.footer-add .logo-img{
    width: 11vw;
    margin-bottom: 2vw;
}
.footer-add p{
    font-size: 0.8vw;
    margin-bottom: 0.5vw;
}
.company-add > div{
    display: flex;
    justify-content:left;
    gap: 2vw;
    width: 30vw;
}
.footer-nav{
    display: flex;
    gap: 3vw;
}
.footer-nav div *{
    cursor: pointer;
    margin-bottom: 1vw;
}
.media-v{
    display: none;
}
@media screen and (max-width: 744px) {

    .media-v{
        display: block;
    }
    .com-v, .title-nav, header nav, .footer-nav{
        display: none;
    }

    html{
        width: 100%;
    }
    img{
        max-width: 100%;
    }
    h1{
        font-size: 3vh;
    }
    h2{
        font-size: 2.5vh;
    }
    h3{
        font-size: 2.3vh;
    }
    h4{
        font-size: 2vh;
    }
    h5{
        font-size: 1.2vh;
    }
    p, .content-box > p{
        font-size: 1.2vh;
    }

    /*버튼 공통*/
    button{
        padding: 0.5vh 1.4vh;
        font-size: 1vh;
        border-radius: 0.5vh;
        box-shadow: 0 0 0.4vh rgba(0, 0, 0, 0.1);
    }
    button:hover{
        box-shadow: 0 0 0.4vh rgba(0, 0, 0, 0.30);
    }
    button.btn-big{
        font-size: 1.2vh;
        padding: 0.8vh 3vh;
    }
    .btn-box{
        text-align: center;
        margin-top: 4vh;
    }
    .btn-box-two{
        gap: 1.5vh;
    }
    .btn-box-two a{
        font-size: 1vh;
    }
    .banner-btn{
        display: block;
        padding: 4vh 10vh;
        text-align: center;
    }
    .banner-btn h4{
        margin-bottom: 1vh;
    }
    .banner-btn p{
        font-size: 1.5vh;
    }
    .banner-btn button{
        margin-top: 2vh;
    }

    /*메인 이미지 공통*/
    .img-main-box{
        margin-top: 4vh;
    }
    .img-main-box .btn-box{
        text-align: left;
        margin-top: 2vh;
    }
    .title, .title.box-h{
        top: 50%;
        left: 5vh;
        transform: translateY(-50%); 
        width: calc(100vw - 20vw);
    }
    .title h1{
        width: 60vw;
        font-size: 4vh;
        margin-bottom: 4vh;
        text-align: left;
    }
    .title p{
        font-size: 2vh;
        font-weight: 300;
        text-align: left;
    }
    .title.brite-img h1, .title.brite-img p{
        color: #fff;
    }
    .title-nav-box{
        width: 100%;
        justify-content: left;
        margin-top: 3vh;
    }
    

    /*본문 공통*/
    .content-box{
        padding: 3vh 0;
    }
    .content-box > h3, .content-box > p{
        width: 60%;
        margin: 0 auto 2vh auto;
    }
    .img-box-full{
        display: block;
        height: fit-content;
    }
    .img-box-full .img-box{
        width: 100vw;
    }
    
    .img-box-full .text-box{
        padding: 3vh 4vh;
    }
    .img-box-full h4{
        margin-bottom: 2vh;
    }
    .img-box-full .text-box-list{
        margin-top: 3vh;
    }
    .img-box-full .text-box-list > div{
        gap: 1vh;
        margin: 2vh 0;
    }
    .img-box-full img{
        width: 5vh;
    }
    .img-box-full button{
        font-size: 0.8vh;
    }
    .img-list{
        width: 100%;
        margin: 4vh 0 8vh 0;
    }
    .img-list > div{
        width: 3vh;
    }
    .img-list > div >p{
        margin-top: 1vh;
    }

    .nav-box{
        width: 80vw;
        margin: 0 auto 2vh auto;
        gap: 1vh;
    }
    .nav-box nav{
        width: 20%;
        height: 5vh;
    }
    .nav-box h5{
        font-size: 1.5vh;
    }
    .nav-box .time-var-box{
        width: 0.6vw;
        height: 50%;
        margin-top: 30%;
    }
    .nav-box nav.active .time-var{
        width: 100%;
        height: 100%;
    }
    .main-slide-track {
        gap: 4vh;
    }
    .main-slide-box {
        flex: 0 0 60%;
        height: 46vh; /*박스 전체 높이 조절*/
        margin-top: 1vh;
        padding: 2vh 3vh;
        border-radius: 0.7vh;
    }
    .main-slide-box.active{
        box-shadow: 0 0 1vh rgba(0, 0, 0, 0.1);
    }
    .main-slide-box > h3{
        font-size: 1.5vh;
    }
    .main-slide-box span{
        font-size: 5vh;
        margin-right: -3vh;
    }
    .main-slide-box > div{
        display: block;
    }
    .main-slide-box .slide-img-box{
        width: 30vh;
    }
    .main-slide-box .img-box{
        width: 32vh;
        max-height: 20vh;
        border-radius: 0.7vh;
    }
    
    .slide-text{
        margin: 2vh 0 0 0;
    }
    .slide-text .title-sub{
        height: 5vh;
        font-size: 1.2vh;
        margin-bottom: 3vh;
    }
    .slide-text p:not(.title-sub){
        font-size: 1vh;
        padding-left: 2vh;
        margin-top: 1.5vh;
        background-position: left 50%;
        background-size: 1.2vh;
    }
    .slide-text .text-list{
        margin-top: 5vh;
        height: 10vh;
    }
    .slide-text .text-list > p{
        margin-top: 0.6vh;
        padding-left: 1vh;
        background-size: auto 1vh;
    }
    .slide-text h2{
        font-size: 2vh;
    }
    .slide-text .img-list{
        margin: 2vh 0;
        font-size: 1vh;
    }
    .slide-text .img-list div{
        height: 2vh;
    }

    .box-f{
        width: 80vw;
    }
    .box-f > div{
        width: 16vh;
        height: 16vh;
        padding: 2vh;
        margin-bottom: 2vh;
    }
    .box-f img{
        width: 4vh;
    }
    .box-f p{
        font-size: 0.8vh;
        height: 2vh;
    }
    .box-f > div:hover {
        box-shadow: 0 0 0.4vh rgba(0, 0, 0, 0.1);
    }
    
    .clients-box{
        width: 100%;
    }
    .img-list.clients-box div{
        width: 10vh;
    }
    .main-demo-box{
        height: 40vh;
        padding: 14vh 10vh;
    }
    .main-demo-box h3{
        font-size: 2vh;
        margin-bottom: 2vh;
    }
    .main-demo-box p{
        width: 31vh;
    }
    .main-demo-box button{
        margin-top: 4vh;
    }

    /*header*/
    header{
        width: 100%;
        box-shadow: 0 0 0.2vh rgba(0, 0, 0, 0.1);
    }
    header > section{
        gap: 5vh;
        width: 100%;
        padding: 1vh 1.5vh;
    }
    header .logo-img{
        width: 10vh;
    }
    
    .btn-lang{
        border-radius: 20vh;
        padding: .1vh .3vh;
    }
    .btn-lang-box section {
        width: 1vh;
    }
    .btn-lang-box section:last-of-type{
        width: 1.5vh;
    }
    .btn-lang-box .select-lang{
        width: 2.5vh;
    }
    .box-lang{
        top: -0.1vh;
        left: 50%;
        transform: translateX(-50%);
        padding: .5vh 1.2vh;
        border-radius: 0.7vh;
        box-shadow: 0 0 0.2vh rgba(0, 0, 0, 0.1);
    }
    .box-lang p{
        width: 4vh;
    }
    .menu-contain{
        width: 100%;
        position: absolute;
        top: 4.5vh;
        left: .5vh;
    }
    .menu-btn, .menu-list{
        background-color: #fff;
        border-radius: 1vh;
        box-shadow: 0 0 0.4vh rgba(0, 0, 0, 0.3);
    }
    .menu-btn{
        width: 4vh;
        height: 4vh;
        background-image: url("../images/btn_menu_open.png");
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;
    }
    .menu-list{
        display: none;
        width: 90%;
        height: 90vh;
        padding: 1vh 1vh 5vh 5vh;
    }
    .menu-list .menu-btn{
        width: 100%;
        background-image: url("../images/btn_menu_close.png");
        box-shadow: none;
        background-size: auto 80%;
        background-position: right center;
        margin-bottom: 1vh;
    }
    .menu-list h4{
        margin: 1vh 0 0 3vh;
    }
    .menu-list > section{
        display: flex;
        flex-direction: column;
        gap: 5vh;
    }

    /*footer*/
    footer{
        padding: 2.5vh 4vh 1.5vh 4vh;
    }
    .footer-add{
        display: flex;
        gap: 2vh;
        width: 100%;
    }
    .footer-add .logo-img{
        width: 15vh;
    }
    .footer-add > section{
        flex: 1;
    }
    .footer-add p{
        font-size: 1vh;
        margin-bottom: 1vh;
    }
    .company-add > div{
        width: 100%;
        gap: 1vh;
    }
    
}