*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit; 
}
html{
    width: 100%;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
#main-con{
    max-width: 2560px;
    margin: 0 auto;
}
html::-webkit-scrollbar {
  display: none;
}
img{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}
html, body, textarea, input, a, p, pre, div, span, h5, h4, h3, h2, h1, ul, li {
    font-family: Pretendard, "Apple SD Gothic Neo", "맑은 고딕", 맑은고딕, "Malgun Gothic", sans-serif;
    color: #333;
    word-break: keep-all;
    white-space: normal;
}
h1{
    font-size: 4vw;
}
h2{
    font-size: 3.5vw;
}
h3{
    font-size: 2vw;
}
h4{
    font-size: 1.5vw;
    font-weight: 300;
}
h5{
    font-size: 1.3vw;
    font-weight: 300;
}
p{
    font-size: 1vw;
}
ul {
    list-style: none; /* 목록 기호 없애기 */
}

/*버튼 공통*/
button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 0.5vw 1.4vw;
    font-size: 1vw;
    border-radius: 0.5vw;
    box-shadow: 0 0 0.4vw rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.6s ease;
    cursor: pointer;
}
button:hover{
    box-shadow: 0 0 0.4vw rgba(0, 0, 0, 0.30);
}
button.btn-big{
    font-weight: 200;
    font-size: 1.2vw;
    width: 15vw;
    padding: 0.8vw 3vw;
}
.btn-box-two{
    display: flex;
    gap: 1.5vw;
    align-items: center;
}
.btn-box-two a{
    color: #999;
    font-size: 1vw;
}
.btn-box-right{
    text-align: right;
}
.btn-line-gray{
    border: 1px solid #999;
    color: #999;
}
.btn-line-blue{
    border: 1px solid #132C6F;
    color: #132C6F;
}
.btn-line-wite{
    border: 1px solid #fff;
    color: #fff;
}
.btn-bg-blue{
    background-color: #132C6F;
    color: #fff;
}
.btn-bg-dark{
    background-color: #0B1528;
    color: #fff;
}
.banner-btn{
    align-items: center;
    gap: 15vw;
    padding: 4vw 10vw;
    background-color: #f8f8f8;
}
.banner-btn h3{
    margin-bottom: 2vw;
}
.banner-btn p{
    font-size: 1.5vw;
}

/*메인 이미지 공통*/
.img-main-box{
    position: relative;
    width: 100vw;
    height: 51vw;
    margin-top: 5vw;
    overflow: hidden;
}
.title{
    position: absolute;
    top: 14vw;
    left: 10vw;
    width: 84vw;
    margin: 0 auto;
}
.title.box-h{
    display: inline-block;
    width: 45vw;
}
.title h3{
    font-weight: 300;
    margin: 3vw 0;
}
.title h1, .title h2, .title h3, .title span{
    color: #fff;
}
.title.brite-img h1, .title.brite-img h2, .title.brite-img h3{
    color: #000;
}
.title-nav-box{
    width: 100%;
    margin-top: 10vw;
}
.title-nav-box .btn-box{
    display: grid;
    align-items: end;
}
.title-nav{
    flex: 1;
    padding: 2vw 0;
    border-bottom: 1px solid #fff;
    margin-bottom: 1vw;
}
.image-slider-nav{
    display: flex;
    gap: 2vw;
    width: fit-content;
}
.image-slider-text p{
    display: none;
    color: #fff;
    padding-left: 1vw;
    font-size: 1.5vw;
}
.image-slider-text p.active{
    display: block;
}
.image-slider-nav p{
    text-align: center;
    font-weight: normal;
    padding: .5vw 3vw;
    border-radius: 1vw;
    background-color: rgba(255, 255, 255, 0.3);
    opacity: .6;
    font-size: 1.5vw;
    color: #fff;
}
.image-slider-nav p.active, .image-slider-nav p:hover{
    cursor: pointer;
    opacity: 1;
}
.slide-img-track {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
    display: flex;
    transition: transform 0.8s ease;
}

/*본문 공통*/
.text-box h3{
    margin: 1vh 0;
}
.text-box p{
    line-height: 1.5;
    margin-bottom: 1vh;
}
.flex-box{
    display: flex;
    justify-content: space-between;
}
.width-01{
    width: 80vw;
    margin: 0 auto;
}
.main-three-icon{
    padding: 8vw;
    border-bottom: 1px solid #132C6F;
}
.main-4-icon{
    position: absolute;
    top: 0;
    left: 50%;
    transform:translateX(-50%);
}
.main-4-icon .point-box{
    padding: 0 2vw 2vw 2vw;
    flex: 0.24;
    background-image: url("../images/bg-img.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.main-4-icon .point-box .img-box{
    width: 6vw;
    margin: 1.2vw auto;
    padding: 1vw;
    border-radius: 50vw;
    background-color: #fff;
}
.main-4-icon .point-box .text-box{
    width: 100%;
}
.main-4-icon .point-box h4{
    font-weight: 700;
    margin: 3vw 0 .5vw 0;
}
.main-4-icon .point-box .border{
    width: 10vw;
    height: 1px;
    margin: 2vw auto 4vw auto;
    border-bottom: 1px solid #132C6F;
}
.main-4-icon .point-box h5{
    height: 8vw;
}
.img-box-full .bg-main-img{
    padding-top: 19vw;
}
.content-box{
    position: relative;
    padding-top: 10vw;
    width: 100vw;
    text-align: center;
}
.content-box:last-of-type{
    margin-bottom: 10vw;
}
.content-title-box{
    width: 50vw;
    margin: 0 auto 3vw auto;
}
.content-title-box > h3{
    margin-bottom: 1vw;
}
.img-box-full{
    position: relative;
    height: fit-content;
}
.bg-gray::before{
    content: "";
    position: absolute;
    top: 20%;
    height: 75%;
    left: 0;
    right: 0;
    background-color: #f9f9f9;
    z-index: -999;
}
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 비율 */
  height: 0;
  overflow: hidden;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.img-box-full .text-box{
    width: 80vw;
    margin: 0 auto;
}
.img-box-full h4{
    margin-bottom: 2vw;
}
.img-box-full p{
    font-size: 0.8vw;
    line-height: 1.8;
}
.img-box-full .text-box-list{
    margin-top: 3vw;
}
.img-box-full .text-box-list > div{
    display: flex;
    align-items: center;
    gap: 1vw;
    margin: 2vw 0;
}

.icon-text-box{
    width: 15vw;
}
.icon-text-box .img-box{
    width: 8vw;
    margin: 0 auto 2vw auto;
}
.logo-text{
    gap: 10vw;
    padding: 5vw 0;
    align-items: center;
}
.logo-text .text-box{
    text-align: left;
}
.logo-text .img-box{
    width: 30vw;
}
.big-show-box{
    flex-direction: column;
    gap: 2vw;
    flex: 0.45;
    border-radius: .5vw;
    padding: 3vw 4vw;
    background-color: #fff;
    box-shadow: 0 0 .5vw rgba(0, 0, 0, 0.3);
}
.big-show-box .img-box{
    width: 10vw;
    margin: 0 auto;
}
.big-show-box span{
    font-weight: 700;
}
.big-show-box .point-con{
    gap: 1vw;
    margin-bottom: 2vw;
}
.big-show-box .point-box{
    flex: auto;
    background-color: #132C6F;
    color: #fff;
    font-size: 1.1vw;
    padding: .2vw 0;
    border-radius: .5vw;
    font-weight: 200;
}
.nav-box{
    display: flex;
    width: 60vw;
    margin: 0 auto 2vw auto;
    text-align: left;
    gap: 1vw;
}
.nav-box nav{
    display: flex;
    justify-content: space-between;
    width: 20%;
    cursor: pointer;
}
.nav-box p,.nav-box h5{
    font-weight: bold;
    color: #999;
}
.nav-box nav.active p{
    color: #333;
}
.nav-box nav.active h5{
    color: #132C6F;
}
.nav-box .time-var-box{
    width: 0.2vw;
    height: 100%;
    background-color: #d9d9d9;
}
.nav-box nav.active .time-var{
    width: 100%;
    height: 100%;
    background-color: #132C6F;
    transform: scaleY(0); 
    transform-origin: bottom;
    will-change: transform;
}
.con-box{
    overflow: hidden;
    position: relative;
}
.main-slide-track {
    display: flex;
    gap: 4vw;
    transition: transform 0.6s ease;
}
.main-slide-box {
    flex: 0 0 60%;
    height: 30vw;
    margin-top: 1vw;
    padding: 2vw 3vw;
    text-align: left;
    background-color: #f9f9f9;
    border-radius: 0.7vw;
    opacity:.4;
}
.main-slide-box.active{
    margin-top: 0;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
    opacity:1;
}
.main-slide-box > h3{
    line-height: 1.3;
    color: #132C6F;
}
.main-slide-box span{
    font-size: 5vw;
    font-weight: bold;
    color: #e9e9e9;
    margin-right: -3vw;
}
.main-slide-box > div{
    display: flex;
    align-items: center;
}
.main-slide-box .slide-img-box{
    width: 30vw;
}
.main-slide-box .img-box{
    width: 32vw;
    max-height: 26vw;
    border-radius: 0.7vw;
    overflow: hidden;
}
.slide-text{
    flex: 1;
    margin-left: 2vw;
}
.slide-text .title-sub{
    height: 5vw;
    margin-bottom: 3vw;
}
.slide-text p:not(.title-sub){
    padding-left: 2vw;
    margin-top: 1.5vw;
    background-image: url("../images/icon_alarm.png");
    background-repeat: no-repeat;
    background-position: left 50%;
    background-size: 1.2vw;
}
.slide-text .text-list{
    margin-top: 2vw;
    height: 10vw;
}
.slide-text .text-list > p{
    margin-top: 0.6vw;
    padding-left: 1vw;
    background-image: url("../images/icon_bar.png");
    background-position: left top;
    background-size: auto 1vw;
}
.slide-text h2{
    font-size: 2vw;
    font-weight: normal;
}
.slide-text .img-list{
    margin: 2vw 0;
    font-size: 1vw;
}
.clients-box{
    width: 45vw;
    margin: 0 auto;
}
.clients-box > div{
    width: fit-content;
    height: fit-content;
}
.img-list.clients-box div{
    width: 10vw;
}
.main-demo-box{
    position: relative;
    margin-top: 10vw;
}
.main-demo-box .text-box{
    position: absolute;
    top: 30%;
    left: 10%;
}
.main-demo-box h3{
    font-size: 2vw;
    margin-bottom: 2vw;
}
.main-demo-box p{
    width: 31vw;
}
.main-demo-box button{
    margin-top: 8vw;
    font-size: 0.8vw;
}

/*header*/
header{
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 0 0.2vw rgba(0, 0, 0, 0.1);
}
header > section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
    width: 100%;
    padding: 1.5vw 3vw;
}
header .logo-img{
    width: 12vw;
}
header nav{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 2.5vw;
}
header nav p{
    font-size: 1.2vw;
}
.btn-lang{
    position: relative;
    border-radius: 20vw;
    border: 1px solid #132C6F;
    padding: .2vw .5vw;
    background-color: #fff;
}
.btn-lang-box{
    display: flex;
    align-items: center;
}
.btn-lang-box section {
    width: 1vw;
}
.btn-lang-box section:last-of-type{
    width: 1.5vw;
}
.btn-lang-box .select-lang{
    text-align: center;
    width: 2.5vw;
    color: #132C6F;
}
.box-lang{
    display: none;
    position: absolute;
    top: -0.1vw;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: .5vw 1.2vw;
    border-radius: 0.7vw;
    box-shadow: 0 0 0.2vw rgba(0, 0, 0, 0.1);
}
.box-lang.is-open{
    display: block;
}
.box-lang p{
    width: 4vw;
    line-height: 2;
}
.box-lang p:hover, .box-lang .select{
    font-weight: bold;
}
.btn-nav-sub{
    display: flex;
    align-items: center;
    gap: .5vw;
}
.btn-nav-sub span{
    display: inline-block;
    width: 1.5vw;
    height: 1.5vw;
    background-image: url("../images/btn_under_arrow_black.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5vw;
}
header [data-route]:hover, header [data-route].is-active{
    color: #132C6F;
    cursor:pointer;
}
.box-nav-sub {
    display: none;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    z-index: 1000;
}
.box-nav-sub.is-open {
    display: block; 
}
.sub-contain{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    background: #fff;
    padding: 4vw 6vw;
    border-radius: 0.7vw;
    box-shadow: 0 0 0.2vw rgba(0,0,0,.1);
}
.sub-contain h3{
    color: #132C6F;
}
.sub-nav{
    width: 30vw;
    margin-top: 2vw;
    padding-right: 2vw;
    background-image: url("../images/nav-right-arrow-gray.png");
    background-size: 1.5vw;
    background-repeat: no-repeat;
    background-position: right top;
}
.sub-nav h4{
    margin-bottom: 1vw;
}
.nav-img{
    width: 25vw;
    border-radius: 0.7vw;
}
.btn-demo{
    background-color: #132C6F;
    color: #fff;
    padding: 0.4vw 1.4vw;
    font-size: 1vw;
    transition: box-shadow 0.6s ease;
}
.btn-demo[data-route]:hover{
    color: #fff;
}


/*footer*/
footer{
    display: flex;
    justify-content: space-between;
    padding: 5vw 8vw 3vw 8vw;
    background-color: #0B1528;
}
footer *{
    color: #fff;
}
.footer-add .logo-img{
    width: 11vw;
    margin-bottom: 2vw;
}
.footer-add p{
    font-size: 0.8vw;
    margin-bottom: 0.5vw;
}
.company-add > div{
    display: flex;
    justify-content:left;
    gap: 2vw;
    width: 30vw;
}
.footer-nav{
    display: flex;
    gap: 3vw;
}
.footer-nav div *{
    cursor: pointer;
    margin-bottom: 1vw;
}
.media-v{
    display: none;
}
@media screen and (max-width: 744px) {

    .media-v{
        display: block;
    }
    .com-v, .title-nav, header nav, .footer-nav, .img-main-box .flex-box{
        display: none;
    }

    html{
        width: 100%;
    }
    img{
        max-width: 100%;
    }
    h1{
        font-size: 3vh;
    }
    h2{
        font-size: 2.5vh;
    }
    h3{
        font-size: 2.3vh;
    }
    h4{
        font-size: 1.5vh;
    }
    h5{
        font-size: 1.2vh;
    }
    p, .content-box > p{
        font-size: 1.2vh;
    }

    /*버튼 공통*/
    button{
        padding: .8vh 2vh;
        font-size: 1.5vh;
        border-radius: 0.5vh;
        box-shadow: 0 0 0.4vh rgba(0, 0, 0, 0.1);
    }
    button:hover{
        box-shadow: 0 0 0.4vh rgba(0, 0, 0, 0.30);
    }
    button.btn-big{
        width: 15vh;
        font-size: 1.2vh;
        padding: 0.8vh 3vh;
    }
    .btn-box-two{
        gap: 1.5vh;
    }
    .btn-box-two a{
        font-size: 1vh;
    }
    .banner-btn{
        display: block;
        padding: 4vh 10vh;
        text-align: center;
    }
    .banner-btn h3{
        margin-bottom: 1vh;
    }
    .banner-btn p{
        font-size: 1.5vh;
    }
    .banner-btn button{
        margin-top: 2vh;
    }

    /*메인 이미지 공통*/
    .img-main-box{
        height: 50vh;
        margin-top: 4vh;
        overflow: hidden;
    }
    .img-main-box .btn-box{
        text-align: left;
        margin-top: 2vh;
    }
    .title, .title.box-h{
        top: 50%;
        transform: translateY(-50%);
        left: 5vh;
        height: 30vh; 
        width: calc(100vw - 20vw);
    }
    .title h1{
        width: 80vw;
        color: #fff;
        font-size: 4vh;
        margin-bottom: 4vh;
        text-align: left;
    }
    .title p{
        width: 60vw;
        font-size: 2vh;
        font-weight: 300;
        text-align: left;
    }
    .title.brite-img h1, .title.brite-img p, .title.brite-img h2, .title.brite-img h3{
        color: #fff;
    }
    .title-nav-box{
        width: 100%;
        justify-content: left;
        margin-top: 1vh;
    }
    .title-nav-box .btn-box{
        margin-top: 10vh;
    }
    .title-nav-box .btn-box button{
        width: 16vh;
        font-size: 1.8vh;
    }

    /*본문 공통*/
    .main-4-icon{
        left: 50%;
        transform:translateX(-50%);
    }
    .main-4-icon .point-box{
        padding: 0 1vh 3vh 1vh;
        flex: 0.24;
        background-color: #f9f9f9;
        border-radius: .5vh;
    }
    .main-4-icon .point-box .img-box{
        width: 3vh;
        margin: .7vh auto;
        padding: .5vh;
    }
    .main-4-icon .point-box .border{
        width: 10vw;
        height: 1px;
        margin: 1vw auto 2vw auto;
        border-bottom: 1px solid #132C6F;
    }
    .main-4-icon .point-box h5{
        height: 8vw;
        font-size: 1vh;
    }
    .main-4-icon .point-box h4{
        height: 2.3vh;
        font-size: 1vh;
    }
    .main-4-icon .point-box h1{
        font-size: 2vh;
    }
    .content-box{
        padding-top: 10vh;
    }
    .content-title-box{
        width: 80vw;
    }
    .content-title-box h3, .content-title-box > h4{
        margin: 0 auto 3vh auto;
    }
    .img-box-full{
        display: block;
        height: fit-content;
    }
    .img-box-full .img-box{
        width: 100vw;
    }
    
    .img-box-full h4{
        margin-bottom: 2vh;
    }
    .img-box-full .text-box-list{
        margin-top: 3vh;
    }
    .img-box-full .text-box-list > div{
        gap: 1vh;
        margin: 2vh 0;
    }
    .icon-text-box{
        width: 12vh;
    }
    .icon-text-box .img-box{
        width: 8vh;
        margin: 0 auto 2vh auto;
    }
    .logo-text{
        gap: 6vh;
        padding: 5vw 0;
        align-items: center;
    }
    .logo-text .text-box{
        text-align: left;
        padding: 0;
    }
    .logo-text .img-box{
        width: 30vh;
    }
    .big-show-box{
        gap: 2vh;
        border-radius: .5vh;
        padding: 2vh 1vh;
    }
    .big-show-box .img-box{
        width: 10vh;
    }
    .big-show-box .point-con{
        gap: .5vh;
        height: fit-content;
        margin-bottom: 2vh;
    }
    .big-show-box .point-box{
        font-size: 1vh;
        padding: .2vh 0;
        border-radius: .5vh;
    }

    .nav-box{
        width: 80vw;
        margin: 0 auto 2vh auto;
        gap: 1vh;
    }
    .nav-box nav{
        width: 20%;
        height: 5vh;
    }
    .nav-box h5{
        font-size: 1.5vh;
    }
    .nav-box .time-var-box{
        width: 0.6vw;
        height: 70%;
    }
    .nav-box nav.active .time-var{
        width: 100%;
        height: 100%;
    }
    .main-slide-track {
        gap: 4vh;
    }
    .main-slide-box {
        flex: 0 0 60%;
        height: 50vh; /*박스 전체 높이 조절*/
        margin-top: 1vh;
        padding: 2vh 3vh;
        border-radius: 0.7vh;
    }
    .main-slide-box.active{
        box-shadow: 0 0 1vh rgba(0, 0, 0, 0.1);
    }
    .main-slide-box > h3{
        font-size: 1.5vh;
    }
    .main-slide-box span{
        font-size: 5vh;
        margin-right: -3vh;
    }
    .main-slide-box > div{
        display: block;
    }
    .main-slide-box .slide-img-box{
        width: 100%;
    }
    .main-slide-box .img-box{
        width: 32vh;
        max-height: 20vh;
        border-radius: 0.7vh;
    }
    
    .slide-text{
        margin: 2vh 0 0 0;
    }
    .slide-text .title-sub{
        height: 5vh;
        font-size: 1.2vh;
        margin-bottom: 1vh;
    }
    .slide-text p:not(.title-sub){
        font-size: 1vh;
        padding-left: 2vh;
        margin-top: 1.5vh;
        background-position: left 50%;
        background-size: 1.2vh;
    }
    .slide-text .text-list{
        margin-top: 5vh;
        height: 10vh;
    }
    .slide-text .text-list > p{
        margin-top: 0.6vh;
        padding-left: 1vh;
        background-size: auto 1vh;
    }
    .slide-text h2{
        font-size: 2vh;
    }
    .slide-text .img-list{
        margin: 2vh 0;
        font-size: 1vh;
    }

    .box-f{
        width: 80vw;
    }
    .box-f > div{
        width: 16vh;
        height: 16vh;
        padding: 2vh;
        margin-bottom: 2vh;
    }
    .box-f p{
        font-size: 0.8vh;
        height: 2vh;
    }
    .box-f > div:hover {
        box-shadow: 0 0 0.4vh rgba(0, 0, 0, 0.1);
    }
    
    .clients-box{
        width: 100%;
    }
    .img-list.clients-box div{
        width: 10vh;
    }
    .main-demo-box .text-box{
        top: 18%;
        left: 10%;
}
    .main-demo-box h3{
        font-size: 2vh;
        margin-bottom: 2vh;
    }
    .main-demo-box p{
        width: 33vw;
        font-size: 1vh;
    }
    .main-demo-box button{
        margin-top: .5vh;
    }

    /*header*/
    header{
        width: 100%;
        box-shadow: 0 0 0.2vh rgba(0, 0, 0, 0.1);
    }
    header > section{
        gap: 5vh;
        width: 100%;
        padding: 1vh 1.5vh;
    }
    header .logo-img{
        width: 10vh;
    }
    
    .btn-lang{
        border-radius: 20vh;
        padding: .1vh .3vh;
    }
    .btn-lang-box section {
        width: 1vh;
    }
    .btn-lang-box section:last-of-type{
        width: 1.5vh;
    }
    .btn-lang-box .select-lang{
        width: 2.5vh;
    }
    .box-lang{
        top: -0.1vh;
        left: 50%;
        transform: translateX(-50%);
        padding: .5vh 1.2vh;
        border-radius: 0.7vh;
        box-shadow: 0 0 0.2vh rgba(0, 0, 0, 0.1);
    }
    .box-lang p{
        width: 4vh;
    }
    .menu-contain{
        width: 100%;
        position: absolute;
        top: 4.5vh;
        left: .5vh;
    }
    .menu-btn, .menu-list{
        background-color: #fff;
        border-radius: 1vh;
        box-shadow: 0 0 0.4vh rgba(0, 0, 0, 0.3);
    }
    .menu-btn{
        width: 4vh;
        height: 4vh;
        background-image: url("../images/btn_menu_open.png");
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;
    }
    .menu-list{
        display: none;
        width: 90%;
        height: 90vh;
        padding: 1vh 1vh 5vh 5vh;
    }
    .menu-list .menu-btn{
        width: 100%;
        background-image: url("../images/btn_menu_close.png");
        box-shadow: none;
        background-size: auto 80%;
        background-position: right center;
        margin-bottom: 1vh;
    }
    .menu-list h4{
        margin: 1vh 0 0 3vh;
    }
    .menu-list > section{
        display: flex;
        flex-direction: column;
        gap: 5vh;
    }
    .btn-demo{
        padding: 0.4vh 1.4vh;
        font-size: 1vh;
    }

    /*footer*/
    footer{
        padding: 2.5vh 4vh 1.5vh 4vh;
    }
    .footer-add{
        display: flex;
        gap: 2vh;
        width: 100%;
    }
    .footer-add .logo-img{
        width: 15vh;
    }
    .footer-add > section{
        flex: 1;
    }
    .footer-add p{
        font-size: 1vh;
        margin-bottom: 1vh;
    }
    .company-add > div{
        width: 100%;
        gap: 1vh;
    }
    
}